/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root {
    background-color: rgba(0, 0, 0, 0.887);
    color: rgba(255, 255, 255, 0.874);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 1500px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(255, 0, 4);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.intro {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title, .author, .pages, .status {
    display: flex;
    flex-direction: column;
}



input, button, select {
    border-radius: 3px;
}
input {
    background-color: transparent;
    border: rgba(255, 255, 255, 0.47) 3px solid;
    min-width: 25rem;
    max-width: 100%;
    height: 100%;
}
input:focus {
    outline: none;
    border: rgba(0, 247, 255, 0.806) 3px solid;
}

select {
    outline: none;
    background-color: transparent;
    color: white;
    height: 3rem;
}
button {
    background-color: rgba(0, 247, 255, 0.806);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 15px 30px 15px 30px;
}



h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
}




table {
    border: white 2px solid;
    width: 100%;
}
thead {
    border: white 1px solid;
    text-align: left;
}
tr {
    border: white 0.5px solid;
}
th {
    border: white 1px solid;
}
td {
    border: white 1px solid;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title, .author, .pages, .status {
    gap: 5px;
}